.Lane {
  padding: 10px;
  background-color: #ddd;
  width: 290px;
  min-height: 300px;
  border: 1px black solid;
  margin: 10px;
  display: inline-flex;
  justify-content: space-around;
}

.LaneHeader {

}

.LaneAddNote {

}

.LaneDelete {
    
}

.AddLane {
	color: red;
}

.LaneName {
    
}